
.box h1 {
  color: #eabe39;
  font-size: 30px;
  font-family: 'Montserrat';
}

.special-container h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:#eabe39;
  color: white;
  font-size: 40px;
  font-family: 'Montserrat';
  width: 100%;
}

.topnav {
  z-index: 9999999999;
  background-color: #522874;
  overflow: hidden;
  font-family: 'Montserrat';
  position: sticky;
  top: 0;
  width: 100%;
}

.topnav a {
  display: block;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #eabe39;
  color: white;
}

.topnav-right {
  float: right;
}

.box h2 {
  color: black;
  font-size: 30px;
  font-family: 'Open Sans';
}

.box h3 {
  color: black;
  font-size: 20px;
  font-family: 'Open Sans';
}

.box p {
  color: black;
  font-size: 20px;
  font-family: 'Open Sans';
}

.spacing-container {
  margin-bottom: 25px;
}

.container p {
  color: black;
  font-size: 20px;
  font-family: 'Open Sans';
  margin: 10px;
}

.recruitment-schedule-container h4 {
  color: #522874;
  font-size: 25px;
  font-family: 'Montserrat';
  margin-top: 70px;
  margin-bottom: 70px;
}

.container h4 {
  color: #522874;
  font-size: 25px;
  font-family: 'Montserrat';
}

.box h4 {
  color: #522874;
  font-size: 25px;
  font-family: 'Montserrat';
}

.container iframe {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 50px;
}

.logo-image {
  width: 30px;
  height: 31.5px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.rectangular-column-container {
  display: table;
  width: 100%;
}

.rectangular-column {
  padding: 16px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Open Sans';
  background-color: #eabe39;
  border-style: solid;
  border-width: 0.5px;
  border-color:#522874;
  display: table-cell;
}

.rectangular-column:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .rectangular-column {
    width: 100%;
  }
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column p {
  color: black;
  font-size: 20px;
  font-family: 'Open Sans';
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.topnav input[type=password] {
  margin-left: 12px;
  padding: 9px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
  font-family: 'Montserrat';
}

.topnav .login-container button {
  padding: 9px;
  margin-top: 8px;
  margin-right: 16px;
  background: #eabe39;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  color: #f2f2f2;
}

.topnav .login-container button:hover {
  background-color: #ddd; 
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=password], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=password] {
    border: 1px solid #ccc;
  }
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.time-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #eabe39;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #522874;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #522874;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #522874;
  border-width: 10px 10px 10px 0;
  border-color: transparent #522874 transparent transparent;
}

.right::after {
  left: -13px;
}

.content {
  padding: 20px 30px;
  background-color: #522874;
  position: relative;
  border-radius: 6px;
  color: white;
  font-family: 'Montserrat';
  text-align: center;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .time-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .time-container::before {
      left: 60px;
      border: medium solid #522874;
      border-width: 10px 10px 10px 0;
      border-color: transparent #522874 transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 18px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  fieldset {
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';
    text-align: center;
  }

  fieldset > div {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
  }

  label {
    padding-left: 20px;
  }

  fieldset > div > * {
    align-self: baseline;
    padding-bottom: 20px;
  }

  .top-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/pictures/unc_top_image.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 300px;
  }

  .top-image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Montserrat';
  }

  .tripod-row::after {
    content: "";
    display: table;
  }

  .tripod-col {
    float: left;
    width: 33.33%;
    padding: 0;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#522874;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    width: 100%;
    text-align: center;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    color:#eabe39
  }

  .fa-instagram {
    background:#522874;
    color: white;
  }


  

  
   

  



  









